<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Plasticware</title>
    <link rel="stylesheet" href="{{publicDir}}Plastic.css">
  </head>

  <body>
    <header>
      <h1>Plasticware</h1>
      <h2>Dining like nothing really matters</h2>
    </header>

    <main>
    {{{body}}}
    </main>

  </body>
</html>
