<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Plastic Spork</title>
  </head>

  <body>
    <header>
      <h1>The Plastic Spork</h1>
      <h2>Dining like nothing matters</h2>
    </header>

    {{{body}}}

  </body>
</html>
