body
{
    font-family: sans-serif;
}


header
{
    padding: 0.25em 2em 0.5em;
    background: orange;
    color: white
}

header h1
{
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
}

hr
{
    border-style: solid;
}

nav ul
{
    display: block;
    list-style: none;
}

nav li
{
    display: inline;
    margin: 0 1em;
    font-size: 1.5em;
}

nav a
{
    text-decoration: none;
    color: white;
}

main
{
}


.paginator
{
    display: block;
    list-style: none;
}

.paginator li
{
    display: inline;
    margin: 0 1em;
}

.paginator a
{
    text-decoration: none;
}

.paginator span
{
    color: red;
}


table.cart
{
}

table.cart th,
table.cart th
{
    text-align: left;
}

.number
{
    text-align: right;
}

tr.total td
{
    font-weight: bold;
}
